

@media screen and (max-width: 768px) {
    .accueil {
      width: 100vw;
    }
    

    .blob-animation1 {
       margin-left: 100px;
    }

    .blob-animation1 {
        margin-left: 200px;
    }

    .arrow {
      display: none;
    }
}


@media screen and (min-width: 768px) and (max-width: 1024px) {
  .arrow {
      display: none;
    }
}