

@media screen and (max-width: 768px) {
    .accueil {
      width: 100vw;
    }
    

    .blob-animation1 {
       margin-left: 100px;
    }

    .blob-animation1 {
        margin-left: 200px;
    }
}
