.arrow {
    position: relative;
    z-index: -1;
}

@media screen and (max-width: 768px) {
    .arrow {
        display: flex;
        justify-content: center;
        margin-top: 0;
        width: 100vw;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .arrow {
        display: flex;
        justify-content: center;
        margin-top: 0;
        width: 100vw;
    }
}