@media screen and (max-width: 768px) {
    .card-step {
        width: 83.33%;
        margin-top: 2rem;
    }

}


@media screen and (min-width: 768px) and (max-width: 1024px) {
    .card-step {
        width: 83.33%;
        margin-top: 2rem;
    }

}
