@media screen and (max-width: 768px) {
    .card-step {
        width: 90%;
        margin-top: 1rem;
    }

    .content-width {
        width: 90%;
    }

    .etape-bg {
        width: 100vw;
    }

}


@media screen and (min-width: 768px) and (max-width: 1024px) {
    .card-step {
        width: 90%;
        margin-top: 2rem;
    }

    .content-width {
        width: 90%;
    }

}
