.header-mycryptodata {
    height: 30rem;
}

.image-mycryptodata img {
    width: 900px;
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
}

#mycryptodata {
    height: 100%;
}

@media screen and (max-width: 768px) {
    .header-mycryptodata {
        height: 20rem;
    }

    .name-blog {
        font-size: 2.5rem;
        padding-top: 4rem;
    }

    .content-blog {
        font-size: 1.1rem;
        margin-top: 5rem;
        line-height: 1.7;
        width: 90%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .header-mycryptodata {
        height: 33rem;
    }

    .name-blog {
        font-size: 2.5rem;
        padding-top: 10rem;
    }

    .content-blog {
        font-size: 1.1rem;
        margin-top: 10rem;
        line-height: 1.7;
        width: 90%;
    }

    .image-mycryptodata img {
        width: 750px;
        position: absolute;
        top: 300px;
        left: 50%;
        transform: translateX(-50%);
    }
}