.text-offre {
    font-weight: 400;
    font-size: 1.25rem;
}

.blob-animation3 {
    position: absolute;
    width: 50rem;
    margin-top: 13rem;
    left: -310px;
    filter: blur(20px);
  }


  @media screen and (max-width: 768px) { 
    .card-offers {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin: 0 auto;
        
    }

    .card-offer {
        margin-top: 1rem;
    }

    .text-offers {
        font-size: 1.1rem;
        line-height: 1.25rem;        
    }

    .condition {
        font-size: 0.8rem;
        line-height: 1rem;
        width: 90%;
        margin: 0 auto;
    }


    .offre-special {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
    }

    .offre-special-text {
        margin: 0  1rem 1rem 1rem;
        text-align: center;
    }

    .blob-animation3 {
        position: absolute;
        width: 50rem;
        margin-top:15rem;
        left: -210px;
        filter: blur(20px);
      }
  }


    @media screen and (min-width: 768px) and (max-width: 1024px) {
        .card-offers {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 90%;
            margin: 0 auto;
            
        }
    
        .card-offer {
            margin-top: 1rem;
        }

        .text-offers {
            font-size: 1.1rem;
            line-height: 1.25rem;        
        }

        .condition {
            font-size: 0.8rem;
            line-height: 1rem;
            width: 90%;
            margin: 0 auto;
        }

        .offre-special {
            display: flex;
            width: 90%;
            margin: 0 auto;
        }
    
        .offre-special-text {
            margin: 0  1rem 1rem 1rem;
            text-align: left;
        }
}