.blob-animation2 {
  position: absolute;
  width: 60rem;
  margin-bottom: 20rem;
  right: 0;
  z-index: -1;
  filter: blur(20px);
}


.services {
    padding-top: 3rem;
  }

.text-service {
    font-weight: 400;
    font-size: 1.25rem;
}

.card {
    min-height: 17rem;
}

// .card:hover {
//   box-shadow: rgb(0 0 0 / 25%) 0px 5px 20px 5px;
//   transition: all 0.4s ease-in-out 0s;
//   transform: translateY(-5px);
// }

.title-service {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    &:after {
      --deco-height: 0em;
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      bottom: calc(var(--deco-height) * -0.625);
      height: 1.30rem;
      background-image: url("data:image/svg+xml,%3Csvg width='100' height='64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M-17 30.5C-1 22 72-4 54 13 37.9 28.2-2.5 57.5 16 55.5s72-29 104-40' stroke='%23FF2F89' stroke-width='20'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h100v64H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      background-size: auto 100%;
      background-repeat: round;
      background-position: 0em;
    }
  }

  @media screen and (max-width: 768px) {
    .services {
      width: 100vw;
    }

    .card-service {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    

    .card {
      min-height: 20rem;
      width: 20.5rem;
    }


    .blob-animation2 {
      left: 100px;
      top: 70rem;
    }
    
    .button-service {
      width: 15rem;
      height: 3rem;
      display: flex;
      align-items: center;
    }

    .description-service {
      font-size: 1.25rem;
    }

    .name-service {
      font-size: 1.5rem;
    }
    
  }


  @media screen and (min-width: 768px) and (max-width: 1024px) {

    .services {
      width: 100vw;
    }

    .card-service {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    

    .card {
      width: 44.5rem;
    }


    .blob-animation2 {
      left: 100px;
      top: 80rem;
    }
    
    .button-service {
      width: 15rem;
      height: 3rem;
      display: flex;
      align-items: center;
    }

    .description-service {
      font-size: 1.3rem;
    }

    .name-service {
      font-size: 1.6rem;
    }

  }