.techno-presentation {
    font-weight: 200;
    font-size: 1.2rem;
}

.carousel {
    padding-bottom: 2.5rem;
}

.title-outil {
    color: #000;
    text-decoration: none;
    box-shadow: inset 0 -12px 0 #ffe66d;
  }