@media screen and (max-width: 768px) {
    .text-home-page {
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 1.5;
        width: 90%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .text-home-page {
        width: 90%;
        margin: 0 auto;
        
    }
}