@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Chillax-Variable';
    src: url('../fonts/Chillax-Variable.woff2') format('woff2'),
         url('../fonts/Chillax-Variable.woff') format('woff'),
         url('../fonts/Chillax-Variable.ttf') format('truetype');
         font-weight: 200 700;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Chillax-Extralight';
    src: url('../fonts/Chillax-Extralight.woff2') format('woff2'),
         url('../fonts/Chillax-Extralight.woff') format('woff'),
         url('../fonts/Chillax-Extralight.ttf') format('truetype');
         font-weight: 200;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Chillax-Light';
    src: url('../fonts/Chillax-Light.woff2') format('woff2'),
         url('../fonts/Chillax-Light.woff') format('woff'),
         url('../fonts/Chillax-Light.ttf') format('truetype');
         font-weight: 300;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Chillax-Regular';
    src: url('../fonts/Chillax-Regular.woff2') format('woff2'),
         url('../fonts/Chillax-Regular.woff') format('woff'),
         url('../fonts/Chillax-Regular.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Chillax-Medium';
    src: url('../fonts/Chillax-Medium.woff2') format('woff2'),
         url('../fonts/Chillax-Medium.woff') format('woff'),
         url('../fonts/Chillax-Medium.ttf') format('truetype');
         font-weight: 500;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Chillax-Semibold';
    src: url('../fonts/Chillax-Semibold.woff2') format('woff2'),
         url('../fonts/Chillax-Semibold.woff') format('woff'),
         url('../fonts/Chillax-Semibold.ttf') format('truetype');
         font-weight: 600;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Chillax-Bold';
    src: url('../fonts/Chillax-Bold.woff2') format('woff2'),
         url('../fonts/Chillax-Bold.woff') format('woff'),
         url('../fonts/Chillax-Bold.ttf') format('truetype');
         font-weight: 700;
         font-display: swap;
         font-style: normal;
  }


  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.navbar {
    font-family: "Chillax";
    font-size: 1.2rem;
    width: 100%;
    background-color: aqua;
    font-weight: 500;
}

/* .link-underline {
  background-image: linear-gradient(transparent, transparent), linear-gradient(#FF7B34 0%, #FF7B34 100%);
  background-size: 0 2px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: 0.3s ease-in-out;
}

.link-underline:hover {
  background-size: 100% 2px;
  background-position: 0 100%;
} */

  .button-contact:hover,
  .button-contacte:focus {
    box-shadow: inset 10.6em 0 0 0 #FF7B34;
    transition: .5s;
    color: #f5f6fa;
    overflow: hidden;
    border: 2px solid #FF7B34;
  }